<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="system.Properties.Settings.PetDoc" connectionString="Data Source=DESKTOP-T0CRIR8;Initial Catalog=myPOS_DB;Persist Security Info=True;User ID=sa;Password=991831;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>